
<h2 class="doc-head">Installation</h2>

<p>
    Nuget package url: 
        <a target="_blank" href="https://www.nuget.org/packages/MySql.Simple/">https://www.nuget.org/packages/MySql.Simple/</a>
    
    On the package manager console enter:
</p>

<pre><code>Install-Package MySql.Simple
</code></pre>